@import "../../../assets/scss/common";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/buttons/buttons";
.bg-img {
    background-color: $white;


    @include min-width-992 {
        background-image: url("./../../../assets/images/meetusbg.png") ;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
    }
}

h1 {
    font-family: "SolanoGothicMVBStd-BdCap", "sans-serif";
    font-size: 32px;
    line-height: 1.2;
    color: $black;
    font-weight: bolder;
    @include min-width-1200 {
        font-size: 48px;
    }
}

hr{
    border: 1px solid $black;
    width: 50%;
    margin-right: 50%;
    background-color: $black;
}

p {
    
    font-size: 18px;
    line-height: 1.10;
    
    @include min-width-1200 {
        font-size: 22px;
    }
}

.img-auto {
    width: 70%;

    @include min-width-768 {
        width: 85%;
    }
}

.justify-dinamico{
    justify-content: center;
    text-align: center;

    @include min-width-768 {
        justify-content: flex-start;
        text-align: left;
    }
}