<section class="container-fluid m-0 p-0 situacional-h-2 bg-img d-flex px-4 pb-4 pt-0">
            <div class="container-fluid m-0 p-0 d-flex flex-wrap justify-content-end h-100 align-items-center ">
                <div class="col-12 col-md-5 flex-wrap justify-dinamico align-items-center pl-lg-5 pr-lg-0 pb-lg-5">
                    <h1 class="mx-0 mt-3 mt-md-0 mb-1 p-0 "><strong>BIENVENIDO <br> A “TU EMPRESA”</strong></h1>
                    <hr class="d-none d-md-flex">
                    <p class="text-justify mr-0">Somos un Programa del Ministerio de la Producción dirigido a emprendedores, micro empresarios y pequeños empresarios de todo el Perú.</p>
                    <p class="text-justify mr-0">Aquí encontrarás acompañamiento personalizado y herramientas necesarias para potenciar tus capacidades
                        empresariales, con la finalidad de contribuir en el aumento de la productividad y ventas, mejorando tu calidad de vida.</p>
                </div>

                <div class="col-12 col-md-5 d-flex justify-content-center">
                    <img class="w-100" src="./assets/images/conocenosimagen.png" alt="imagen de conocenos">
                </div>
            </div>
</section>