$black: #050304;
$white: #ffffff;
$our-red: #ff1914;
$our-grey: #d8d8d8;
$our-blue: #05a2dd;
$color-blue: #00a6e0;
$color-red: #e1251b;
$color-black: #000000;
$color-grey: #7c7c7c;
$color-black-secondary: #303030;
$btn-black: #262626;
$transparent-color: rgba(0, 0, 0, 0.747);