@import "./colors";
@import "./mixins";
.bg-black {
    background-color: $black;
    top: 0;
    width: 100%;
    color: $white;
}

.bg-red {
    background-color: $our-red;
}

//estilos comunes
.seccion-header{
    padding-left: 20px;
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    font-size: 20px;
    height: 60px;
    max-height: 60px;
    
    @include min-width-768{
        height: 60px;
        font-size: 35px;
        max-height: 60px;
        
    }


    .contacto {
       
    padding-left: 0px;

    @include min-width-768{
        height: 60px;
        font-size: 35px;
        max-height: 60px;
        padding-left: 85px;
    }

    }
}


// altura-personalziada
.situacional-h{
    height: auto;
    @include min-width-992 {
        height: 100vh;
    }
}

.situacional-h-2{
    height: auto;
    @include min-width-768 {
        height: 100vh;
    }
}

.situacional-h-nav{
    height: auto;
    @include min-width-992 {
        height: calc( 100vh - 60px );
        max-height: calc( 100vh - 60px );
    }
}

.situacional-h-nav-2{
    height: auto;
    @include min-width-768 {
        height: calc( 100vh - 89px );
        max-height: calc( 100vh - 89px );
    }
}

//MODAL
.ModalTop{
        
        max-width: auto;
        max-height: auto;


    @include min-width-768{
        max-width: 790px;
    }

   
    button.download,
    a.download {
        background-color: $color-blue ;
        font-size: 11px;
        border: 0;

        @include min-width-768{
        font-size: 21px;
        }

        &.asesoria{
            width: 45%;
            @include min-width-768{
                width: 25%;
            }
        }

        &.capacitacion{
            width: 80%;
            @include min-width-768{
                width: 50%;
            }
        }

        &.feria{
            width: 35%;
        }
    }

    h1{
        font-size: 22px;
        font-family: "SolanoGothicMVBPro-Bd", sans-serif;
        font-weight: 900;
        line-height: 0.88;
        color: $color-blue;

        @include min-width-768{
            font-size: 42px;
        }
        
        &.subtitulo{
            font-size: 25px;
        }
    }

    img{
        max-width: 150px;
    }

    & p.parrafo{
        font-size: 16px;
        line-height: 1.2;
        text-align: left;

        @include min-width-768{
            font-size: 21px;
        }
    }

    & p.subtitulo-mute{
        font-size: 12px;
        letter-spacing: 0.83px;
        color: $color-grey;
        @include min-width-768{
            font-size: 17px;
        }
    }

    &p{
        margin: 0;
        font-size: 16px;
        line-height: 1.33;
    }
    
}

.ModalService{
   max-width: 550px;
   
}


carousel{
    & a.left {
        
        position: absolute;     

        @include min-width-992 {
            left: -110px;            
        }
    }

    & a.left:hover{
        cursor: pointer;
    }


    & a.right {
        position: absolute;    
        @include min-width-992 {
            right: -110px;
            
        }
    }

    & a.right:hover{
        cursor: pointer;
    }
}

.exit-button{
    top: 0;
    right: 0;
    z-index: 9;
    font-size: 19px;
    display: block;
    color: $white;
    background-color: $black !important;

    &:hover{
        background-color: $black;
        color: $white;
    }

    & img {
        display: block;
        margin: 5px;
        width: 18px;
        height: 18px;
    }
}

//espaciado 

.w-70{
    width: 100%;

    @include min-width-992 {
    width: 70%;

    }
}

.w-30 {
    width: 100%;

    @include min-width-992 {
        width: 30%;
    }
}