/* font converted using font-converter.net. thank you! */


/* font converted using font-converter.net. thank you! */

/* font converted using font-converter.net. thank you! */

@font-face {
  font-family: "SolanoGothicMVB-Lt";
  src: url("../fonts/SolanoGothicMVB-Lt.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SolanoGothicMVB-Lt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SolanoGothicMVB-Lt.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SolanoGothicMVB-Lt.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SolanoGothicMVB-Lt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SolanoGothicMVB-Lt.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SolanoGothicMVB-Lt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SolanoGothicMVBPro-Bd";
  src: url("../fonts/SolanoGothicMVBProBd.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SolanoGothicMVBProBd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SolanoGothicMVBProBd.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SolanoGothicMVBProBd.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SolanoGothicMVBProBd.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SolanoGothicMVBProBd.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SolanoGothicMVBProBd.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SolanoGothicMVBStd-BdCap";
  src: url("../fonts/SolanoGothicMVBStdBdCap.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SolanoGothicMVBStdBdCap.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SolanoGothicMVBStdBdCap.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SolanoGothicMVBStdBdCap.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SolanoGothicMVBStdBdCap.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SolanoGothicMVBStdBdCap.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SolanoGothicMVBStdBdCap.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
