<div class="modal-body d-flex flex-column bg-img p-0">
    <button type="button" class="close outline-none position-absolute exit-button" aria-label="Close" (click)="bsModalRef.hide()">
      <img src="./assets/images/exitbutton.png" alt="botón cerrar">
    </button>
    <div class="container-fluid p-5 d-none d-md-block d-lg-block">
      <h1 class="px-4 text-uppercase">NUEVAS OPORTUNIDADES <br> NUEVOS MERCADOS</h1>

      <p class="px-4 mt-4 parrafo">
        Conoce con que requisitos debe cumplir tu empresa para participar nuestras ferias
        empresariales y así ampliar tu negocio a nuevos mercados
      </p>

      <h1 class="px-4 text-uppercase subtitulo"> requisitos generales para participar</h1>

      <p class="px-4">
        <strong>
        a) Ser MIPYME legalmente constituida (persona jurídica, asociación y/o
        cooperativa de productores, consorcios, entre otras). <br>
        b) Contar con Registro Único de Contribuyente – R.U.C., vigente, activo y habido. <br>
        c) Tener una antigüedad mínima de 2 años.<br>
        d) No presentar deudas coactivas con el Estado.<br>
        f) Ventas superiores a 13 UIT3 en el último año.
        </strong>
        </p>
    </div>

    <div class="container-fluid px-1 py-4 d-sm-block d-md-none d-lg-none">
      <h1 class="px-4 text-uppercase">NUEVAS OPORTUNIDADES <br> NUEVOS MERCADOS</h1>

      <p class="px-4 mt-4 parrafo">
        Conoce con que requisitos debe cumplir tu empresa para participar nuestras ferias
        empresariales y así ampliar tu negocio a nuevos mercados
      </p>

      <h1 class="px-4 text-uppercase subtitulo"> requisitos generales para participar</h1>

      <p class="px-4">
        <strong>
        a) Ser MIPYME legalmente constituida (persona jurídica, asociación y/o
        cooperativa de productores, consorcios, entre otras). <br>
        b) Contar con Registro Único de Contribuyente – R.U.C., vigente, activo y habido. <br>
        c) Tener una antigüedad mínima de 2 años.<br>
        d) No presentar deudas coactivas con el Estado.<br>
        f) Ventas superiores a 13 UIT3 en el último año.
        </strong>
        </p>
    </div>
  </div>
