<div class="modal-body d-flex flex-column bg-img p-0">
  <button type="button" class="close outline-none position-absolute exit-button" aria-label="Close" (click)="bsModalRef.hide()">
    <img src="./assets/images/exitbutton.png" alt="botón cerrar">
  </button>
  <div class="container-fluid  h-100 p-5">
    <h1>{{ titulo }}</h1>
<!--    <p>{{parrafo}}</p>-->
    <button>Prueba</button>
<!--    <p>{{parrafo2}}</p>-->
    <button>Prueba</button>
  </div>
</div>

