<section class="container-fluid d-flex flex-wrap  bg-img text-white situacional-h-nav-2">

    <div class="w-100 d-flex justify-content-start pt-4 pl-3">
        <div class="custom-container m-0 p-0">
            <h1 class="m-0 p-0">Convertimos las <br> pequeñas ideas <br class=" d-xl-none"> a grandes oportunidades de cambio</h1>
            <h2 class="mt-2 p-0">¿Qué ofrecemos?</h2>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center py-2 flex-wrap m-0">

        <div class="container w-50 col-sm-4 px-1 d-flex justify-content-center">
            <div class="card">
                <div class="card-header  d-flex align-items-center justify-content-center">
                    <h6 class="my-0 text-center">CAPACITACIONES</h6>
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class=" text-center">Participa de las capacitaciones que tenemos para que adquieras o perfecciones tus habilidades emprendedoras.</p>
                </div>
                <div class="d-flex justify-content-end m-0 p-0">
                    <button (click)="showModal(1)" class="btn bg-primary d-flex justify-content-between align-items-center pr-1">
                        <span class="d-md-none"></span>
                        <span>CONOCE MÁS</span>
                        <img src="./assets/images/flechaderecha.png" alt="flecha derecha">
                    </button>
                </div>
            </div>
        </div>
        
        <div class="container w-50 col-sm-4 px-1 d-flex justify-content-center">
            <div class="card">
                <div class="card-header  d-flex align-items-center justify-content-center">
                    <h6 class="my-0 text-center">ASESORÍAS PERSONALIZADAS</h6>
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class=" text-center">Recibe de parte de nuestros asesores empresariales, la información adecuada a tu idea de negocio.</p>
                </div>
                <div class=" d-flex justify-content-end m-0 p-0">
                    <button (click)="showModal(2)" class="btn bg-primary d-flex justify-content-between align-items-center pr-1">
                        <span class="d-md-none"></span>
                        <span>CONOCE MÁS</span>
                        <img src="./assets/images/flechaderecha.png" alt="flecha derecha">
                    </button>
                </div>
            </div>
        </div>

        <div class="container w-50 col-sm-4 px-1 d-flex justify-content-center">
            <div class="card">
                <div class="card-header   d-flex align-items-center justify-content-center">
                    <h6 class=" my-0 text-center">PARTICIPACIÓN EN FERIAS</h6>
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class=" text-center">Te invitamos a ser parte de las ferias en las que participamos y poder mostrar tus productos.</p>
                </div>
                <div class=" d-flex justify-content-end m-0 p-0">
                    <button (click)="showModal(3)" class="btn bg-primary d-flex justify-content-between align-items-center pr-1">
                        <span class="d-md-none"></span>
                        <span>CONOCE MÁS</span>
                        <img src="./assets/images/flechaderecha.png" alt="flecha derecha">
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>