@import "../../../assets/scss/common";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/buttons/buttons";
.bg-img {
    background-image: url("./../../../assets/images/topbgsm.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    @include min-width-768 {
    background-image: url("./../../../assets/images/topbg.png");
    }
}

h1 {
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    //font-size: 45.6px;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2;
    @include min-width-1200 {
        font-size: 56px;
    }
    @include for-ie {
        font-size: 56px;
    }
}

h2 {
    //font-size: 30.6px;
    font-size: 22.6px;
    line-height: 1.2;
    font-family: "SolanoGothicMVB-Lt", sans-serif;
    font-weight: bold;
    letter-spacing: 1.53px;
    @include min-width-1200 {
        font-size: 32px;
    }
    @include for-ie {
        font-size: 30.6px;
    }
}

h4 {
    //font-size: 26px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1.3px;
    @include min-width-1200 {
        font-size: 28px;
    }
    @include for-ie {
        font-size: 26px;
    }
}

h6 {
    letter-spacing: 2.17px;
    //font-size: 21.7px;
    font-size: 11.7px;
    font-weight: bold;
    
    @include min-width-992 {
        font-size: 16.7px;
    }
    @include for-min-width(1300px) {
        font-size: 25px;
    }
}

p {
    line-height: 1.2;
    letter-spacing: 0.89px;
    font-family: "Arial", sans-serif;
    font-weight: lighter;
    //font-size: 17.8px;
    font-size: 12px;

 
    @include min-width-992 {
        font-size: 18px;
    }
 
}

.custom-container {
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    @include min-width-1200 {
        width: 600px;
        padding-left: 50px;
        padding-top: 50px;
    }
}

.card-header {
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    border: 0;
    height: 53px;
    background-color: $our-red;
    
    @include min-width-768 { 
        height: auto;
    }
}

.card-body,
.card-footer {
    border: 0;
}

.card {
    background-color: $transparent-color;
    border-radius: 0;
    border: 0;
    color: $white;
    height: 240px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  
    @include min-width-576 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    @include min-width-992 {
        height: 230px;
        width: 332.4px;
        margin-left: 20px;
        margin-right: 20px;
    }
    @include min-width-1200 {
        height: 230px;
        width: 332.4px;
    }
}

button {
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    border-radius: 0;
    color: $white;
    background-color: $our-blue;
    letter-spacing: 2.17px;
    //font-size: 21.7px;
    width: 100%;
    font-size: 12.7px;
    font-weight: bold;

    @include min-width-768 {
        width: 45%;
    }

    @include min-width-992 {
        font-size: 16.7px;
    }
    @include min-width-1200{
        font-size: 22px;
    }
}

