<div *ngIf="links" class="modal-body d-flex flex-column bg-img p-0 position-relative">
    <button type="button" class="close outline-none position-absolute exit-button" aria-label="Close" (click)="bsModalRef.hide()">
      <img src="./assets/images/exitbutton.png" alt="botón cerrar">
    </button>
    <div class="container p-0 m-0">
      <carousel>
        <slide *ngFor="let images of links">
          <img src="{{images}}"  alt="first slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
  </div>


