@import "../../../assets/scss/common";
@import "../../../assets/scss/mixins";
button,
a {
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    border-radius: 0;
    color: $white;
    letter-spacing: 2.17px;
    //font-size: 21.7px;
    font-size: 12.7px;
    font-weight: bold;
    @include min-width-992 {
        font-size: 16.7px;
    }
    @include for-min-width(1300px) {
        font-size: 21.7px;
    }
}