<div class="container-fluid px-0 mx-0">
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg bg-black d-none d-md-flex justify-content-center">
        
            <img class="navbar-brand" src="./assets/images/logotuempresa.png" alt="logo de tuempresa">
    
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->

        <button type="button" id="hamburger" class="hamburger d-lg-none" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="burger"></span>
                <span class="burger"></span>
                <span class="burger"></span>
            </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-none d-lg-block" href="#conocenos" (click)="moveTo(3)">CONÓCENOS</a>
                    <a class="nav-link nav-link-click d-lg-none" href="#conocenos" (click)="close()">CONÓCENOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-none d-lg-block" href="#servicios" (click)="moveTo(2)">SERVICIOS</a>
                    <a class="nav-link nav-link-click d-lg-none" href="#servicios" (click)="close()">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-none d-lg-block" href="#sites" (click)="moveTo(5)">UBÍCANOS</a>
                    <a class="nav-link nav-link-click d-lg-none" href="#sites" (click)="close()">UBÍCANOS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-none d-lg-block" href="#footer" (click)="moveTo(1)">CONTÁCTANOS</a>
                    <a class="nav-link nav-link-click d-lg-none" href="#contacto" (click)="close()">CONTÁCTANOS</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="bg-black d-md-none d-lg-none d-flex">
        <span style="font-size:30px;cursor:pointer" class="mx-2" (click)="openNav()">&#9776;</span>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <img class="h-75" src="./assets/images/logotuempresa.png" alt="logo de tuempresa">
        </div>
        <div id="mySidenav" class="sidenav d-md-none d-lg-none bg-black">
            <a  class="closebtn" (click)="closeNav()">&times;</a>
            <a class="nav-link nav-link-click d-lg-none" href="#conocenos">CONÓCENOS</a>
            <a class="nav-link nav-link-click d-lg-none" href="#servicios">SERVICIOS</a>
            <a class="nav-link nav-link-click d-lg-none" href="#sites" >UBÍCANOS</a>
            <a class="nav-link nav-link-click d-lg-none" href="#footer">CONTÁCTANOS</a>
          </div>
    
          
    </nav>
      
</div>