@import "../../../../assets/scss/common";
@import "../../../../assets/scss/buttons/buttons";
.custom-size {
    width: 70%
}

a {
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    color: $white;
    font-size: 20.7px;
    line-height: 2.8;
    letter-spacing: 2.07px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    &:hover {
        color: $our-grey;
    }
}

img {
    width: 140.4px;
    height: 60px;
    object-fit: contain;
}

.hamburger {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 0;
    cursor: pointer;
    z-index: 9998;
    .burger {
        transition: all 0.3s;
        border-radius: 5px;
        height: 5px;
        width: 100%;
        display: flex;
        margin: 7px 0;
        background-color: $white;
    }
}

.focus {
    .burger {
        transition: all 0.3s;
        &:first-of-type {
            background-color: $white;
            transition-delay: 0.4s;
            transform: translate3d(0, -1px, 0) rotateZ(45deg);
            transform-origin: left top;
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:last-of-type {
            background-color: $color-blue;
            transition-delay: 0.4s;
            transform: translate3d(0, 0, 0) rotateZ(-45deg);
            transform-origin: left bottom;
        }
    }
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }