<div class="modal-body d-flex flex-column bg-img p-0">
  <button type="button" class="close outline-none position-absolute exit-button" aria-label="Close" (click)="bsModalRef.hide()">
    <img src="./assets/images/exitbutton.png" alt="botón cerrar">
  </button>
 
  <div class="container-fluid p-5 ">
    <h1 class="px-2"> CAPACÍTATE Y HAZTE MAS COMPETITIVO</h1>
    <p class="px-2 mt-4 parrafo">
      Conoce nuestro calendario del emprendedor donde encontrarás a qué talleres o capacitaciones puedes participar.
    </p>
    <a  download class="btn download capacitacion d-flex justify-content-between align-items-center ml-2 mt-1" href="./assets/pdf/capacitacionespdf.pdf">
      <span></span>
      <span class="text-uppercase">Descargalo aquí</span>
      <img src="./assets/images/flechabajoblanco.png" alt="flecha abajo">
    </a>
    <p class="px-2 mt-4 parrafo">
      Conoce la plataforma de Emprendedor Peruano, el cual te brinda cursos gratuitos en diversos temas orientados a la gestión de negocios competitivos, responsables y sostenibles.
    </p>
    <a target="_blank" class="btn download capacitacion d-flex justify-content-between align-items-center ml-2" href=" https://emprendedorperuano.produce.gob.pe/">
      <span></span>
      <span class="text-uppercase">Ingresa aquí</span>
      <img src="./assets/images/flechabajoblanco.png" alt="flecha abajo">
    </a>
  </div>

</div>
