@import "../../../../assets/scss/common.scss";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/buttons/buttons";

.bg-img {
    background-image: url("../.././../../assets/images/modalfondo-sm.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  

    @include min-width-768{
        background-image: url("../.././../../assets/images/fondotopmodal.png");
        height: 477px;
        max-height: 477px;
    }
}


