<div class="modal-body d-flex flex-column bg-img p-0">
    <button type="button" class="close outline-none position-absolute exit-button" aria-label="Close" (click)="cerrar()">
      <img src="./assets/images/exitbutton.png" alt="botón cerrar">
    </button>
    <div class="container-fluid px-5 pt-5 pb-0">
      <h1 class="px-4">ACOMPAÑAMIENTO <br> UNO A UNO</h1>
      <p class="px-4 mt-4 parrafo">
        En nuestros Centros de Desarrollo Empresarial podrás contar
        con nuestros asesores especializados que te orientarán
        sobre los servicios empresariales que tu negocio necesita
        para seguir creciendo
        </p>
      <a class="btn download asesoria d-flex justify-content-between align-items-center mx-4 mt-1" href="#sites" (click)="cerrar()">
        <span></span>
        <span class="text-uppercase">Visitanos</span>
        <img src="./assets/images/flechabajoblanco.png" alt="flecha abajo">
      </a>

      <p class="px-1 mt-1 subtitulo-mute d-none d-md-block">¿CÓMO BRINDAMOS NUESTROS SERVICIOS?</p>

      <div class="d-flex px-4 justify-content-center d-none d-md-flex">
        <img class="img-fluid mr-3 d-none d-md-flex" src="./assets/images/escuchamos.png" alt="escuchamos">
        <img class="img-fluid mr-3 d-none d-md-flex" src="./assets/images/evaluamos.png" alt="evaluamos">
        <img class="img-fluid mr-3 d-none d-md-flex" src="./assets/images/disenamos.png" alt="diseñamos">
        <img class="img-fluid mr-3 d-none d-md-flex" src="./assets/images/asesoramiento.png" alt="asesoramiento">
      </div>

      <div class="d-flex px-0 mt-1 justify-content-center d-md-none d-lg-none">
        <div class="row d-flex justify-content-center">
          <img class="col-6 p-3" src="./assets/images/escuchamos.png" alt="escuchamos">
          <img class="col-6 p-3" src="./assets/images/evaluamos.png" alt="evaluamos">
        </div>
        <div class="row d-flex justify-content-center">
          <img class="col-6 p-3" src="./assets/images/disenamos.png" alt="diseñamos">
          <img class="col-6 p-3" src="./assets/images/asesoramiento.png" alt="asesoramiento">
        </div>
      </div>

    </div>
  </div>

