@import "../../../assets/scss/common";
@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/buttons/buttons";


.bg-img {
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  &.uno {
    background-image: url("./../../../assets/images/leftpanel.png");
  }
  &.dos {
    background-image: url("./../../../assets/images/rightpanel.png");
  }
}

// .custom-div {
//   bottom: 0;
// }

h1 {
  font-size: 50px;
  line-height: 1;
  font-family: "SolanoGothicMVBPro-Bd", "sans-serif";
  font-weight: normal;
  &.sub {
    color: $our-blue;
  }
  @include min-width-1200 {
    font-size: 75px;
  }
}
.content1 {
  position: absolute;
  bottom: 50px;
  opacity: 1;
  transition: 1s ease;
}

hr {
  border: 1px solid $white;
  width: 75%;
}

.content-position:hover {

    .content1{
      opacity: 0;
      transition: 0.1s ease;
  }
   .content2 {
    height: 100vh;
 
     @include min-width-992 {
       height: 100vh;
     }
   }
  
}

.flecha-arriba {
  height: 40px;
}
.left-panel {
  & .subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.88px;

    @include min-width-992 {
      font-size: 35px;
    }

  }

  & .content{
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    
    @include min-width-992 {
      font-size: 28px;
    }

  }
}

.right-panel {
  & .subtitle{
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.7px;


    @include min-width-992 {
      font-size: 28px;
    }

  }

  & .content{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    @include min-width-992 {
      font-size: 28px;
    }
  }
}

.content2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;


}
.text1 {
  height: 200px;
  width: 100%;
  background-color: rgba(14, 26, 31, 0.829);
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.text2 {
  height: calc(100vh - 200px);
  width: 100%;
  background-color: $color-blue;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

button{
  border: 0;
  &.formalizar-btn{
    background-color: $white;
    width: 236.6px;
   
    color: $color-blue;
    font-size: 19px;
    letter-spacing: 0.63px;
    font-family: "SolanoGothicMVBPro-Bd", "sans-serif";

    @include min-width-992 {
      width: 386.6px;
      height: 42.8px;
      font-size: 25px;
    }
  }

  &.crecer-btn{
    width: 100% ;
    background-color: $btn-black;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    font-family: "SolanoGothicMVBPro-Bd", "sans-serif";

    @include min-width-576 {
      font-size: 12px;
    }

    @include min-width-768 {
      font-size: 12px;
    }
  
    @include min-width-1200 {
      font-size: 16px;
    }

  }

}

.service-card{
  background-color: $white;
  font-size: 10px;
  line-height: 0.88;
  letter-spacing: 0.4px;
  font-weight: 100;
  height: 100px;
  color: $black;
  font-family: "SolanoGothicMVBPro-Bd";

  & img{
    width: 45px;


    @include min-width-992 {
      width: 64px;
      height: 64px;
    }
  }

  & span{
    font-size: 15px;
    @include min-width-992 {
      font-size: 19px;
    }
  }



  @include min-width-576 {
    height: 88px;
    font-size: 16px;
  }

  @include min-width-768 {
    height: 100px;
    font-size: 10px;
  }

  @include min-width-992 {
    height: 120px;
    font-size: 14px;
  }
}

.full-sm-h{
  height: 100vh;
    @include min-width-768 {
      height: 100%;
    }
}


