<section class="container-fluid px-0 text-white situacional-h-2">
    <div class="row m-0 h-100">
        <div class="col-12 col-md-6 col-lg-6  bg-img uno text-center position-relative p-0 full-sm-h">
            
            <div class="content-position">

                <div class="content1 w-100">
                    <h1 class="m-0 p-0">Tengo una </h1>
                    <h1 class="sub m-0 p-0">idea de negocio</h1>
                    <img class="mt-1 flecha-arriba" src="./assets/images/flecharribablanca.png" alt="flecha abajo blanca">
                </div>

                <div class="content2 w-100">

                    <div class="text1 d-flex justify-content-center align-items-center">
                        <div>
                            <h1 class="m-0 p-0">Tengo una </h1>
                            <h1 class="sub m-0 p-0">idea de negocio</h1>
                            <img class="mt-3 mt-xl-1" src="./assets/images/flechabajoblanca.png" alt="flecha abajo blanca">
                        </div>
                    </div>

                    <div class="text2 d-flex justify-content-center align-items-center">
                        <div class="left-panel d-flex flex-column justify-content-center align-items-center">
                            <p class="subtitle">Haz realidad <br> tu idea de negocio <br> y <strong>formalízate</strong></p>
                            <hr class="m-0 p-0">
                            <p class="content my-2">Conoce el paso a paso para <br> formalizar tu negocio y los <br> beneficios al realizarlo</p>

                            <button (click)="showImages(0)" class="my-4 formalizar-btn d-flex justify-content-between align-items-center text-uppercase">
                                <span></span>
                                <span>conocer más</span> 
                                <img  src="./assets/images/flechaazul.png" alt="flecha azul">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6  bg-img dos text-center position-relative p-0 full-sm-h">
            <div class="content-position">
                <div class="content1 w-100">
                    <h1 class="m-0 p-0">Quiero hacer crecer</h1>
                <h1 class="sub m-0 p-0">mi negocio</h1>
                <img class="mt-1 flecha-arriba" src="./assets/images/flecharribablanca.png" alt="flecha arriba blanca">
                </div>
                <div class="content2 w-100">

                    <div class="text1 d-flex justify-content-center align-items-center">
                        <div>
                            <h1 class="m-0 p-0">Quiero hacer crecer</h1>
                            <h1 class="sub m-0 p-0">mi negocio</h1>
                            <img class="mt-3 mt-xl-1" src="./assets/images/flechabajoblanca.png" alt="flecha abajo blanca">
                        </div>
                    </div>

                    <div class="text2 d-flex flex-column align-items-center justify-content-center">
                        <div class="right-panel container-fluid d-flex justify-content-center flex-column align-items-center">
                            <h4 class="subtitle my-lg-5 my-xl-0">Conoce los componentes <br> empresariales con los que contamos  </h4>
                            <div class="d-flex flex-lg-row flex-row flex-wrap">

                                <div class="col-6 mt-4 mb-1 px-3">
                                    <div class="service-card d-flex flex-column align-items-center justify-content-end pb-2">
                                        <img class="mb-2" src="./assets/images/digitalizacion.png" alt="">
                                        <span class="text-uppercase">Digitalización</span>
                                    </div>
                                    <button (click)="showImages(1)" class="btn crecer-btn d-flex justify-content-between align-items-center text-uppercase px-2">
                                        <span></span>
                                        <span class="text-white">Conocer más</span>
                                        <img  src="./assets/images/rightarrowwhite.png" alt="flecha blanca">
                                    </button>
                                </div>
                                <div class="col-6 mt-4 mb-1 px-3">
                                    <div class="service-card d-flex flex-column align-items-center justify-content-end pb-2">
                                        <img class="mb-2" src="./assets/images/desarrollo.png" alt="">
                                        <span class="text-uppercase">Desarrollo <br> Productivo</span>
                                    </div>
                                    <button (click)="showImages(2)" class="btn crecer-btn d-flex justify-content-between align-items-center text-uppercase px-2">
                                        <span></span>     
                                        <span class="text-white">Conocer más</span>
                                        <img  src="./assets/images/rightarrowwhite.png" alt="flecha blanca">
                                    </button>
                                </div>
                                <div class="col-6 my-1 mb-3 mb-md-0 px-3">
                                    <div class="service-card d-flex flex-column align-items-center justify-content-end pb-2">
                                      
                                        <img class="mb-2" src="./assets/images/financiamiento.png" alt="">
                                        <span class="text-uppercase">acceso al <br> financiamiento</span>
                                    </div>
                                    <button (click)="showImages(3)" class="btn crecer-btn d-flex justify-content-between align-items-center text-uppercase px-2">
                                        <span></span>     
                                        <span class="text-white">Conocer más</span>
                                        <img  src="./assets/images/rightarrowwhite.png" alt="flecha blanca">
                                    </button>
                                </div>
                                <div class="col-6 my-1 mb-3 mb-md-0 px-3">
                                    <div class="service-card d-flex flex-column align-items-center justify-content-end pb-2">                                                         
                                        <img class="mb-2" src="./assets/images/gestion.png" alt="">
                                        <span class="text-uppercase">Gestión <br> empresarial</span>
                                    </div>
                                    <button (click)="showImages(4)" class="btn crecer-btn d-flex justify-content-between align-items-center text-uppercase px-2">
                                        <span></span>      
                                        <span class="text-white">Conocer más</span>
                                        <img  src="./assets/images/rightarrowwhite.png" alt="flecha blanca">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>