<footer class="container-fluid p-0 m-0 bg-ored text-white situacional-h">
    <div class="bg-black seccion-header d-flex flex-row align-items-center">
        <span class="text-uppercase text-white contacto ml-3 my-0 p-0">Contactános</span>
    </div>
    <div class="container-fluid m-0 p-0 d-flex flex-row align-items-center">
        <div class="col-12 col-lg-4 d-none d-lg-flex">

        </div>
        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
            <img class="logo mt-5 mb-3" src="./assets/images/logotuempresablanco.png" alt="logo de tuempresa">
            <p class="text-left my-3">Avenida Guardia Civil 834, San Isidro Lima, Perú <br> Horario de atención: lunes a viernes de 8:30 a 17:30 horas <br> Teléfono: (511) 616-2291 <br> Email: tuempresa@produce.gob.pe
            <div class="d-flex flex-block my-xl-3 justify-content-center justify-content-lg-start">
                    <a href="https://www.facebook.com/tuempresagobpe/"><img class="img-fluid ml-0" src="./assets/images/facebooklogo.png" alt="logo facebook"></a>
                    <a href="https://twitter.com/tuempresagobpe?lang=es"><img class="img-fluid" src="./assets/images/twitterlogo.png" alt="logo twitter"></a>
                    <a data-toggle="tooltip" data-placement="top" title="938 258 576"> <img class="img-fluid" src="./assets/images/wssplogo.png" alt="logo whatsapp"></a>
                    <a href="https://www.instagram.com/tuempresagobpe/?hl=es-la"><img class="img-fluid" src="./assets/images/instagramlogo.png" alt="logo instagram"></a>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 d-flex justify-content-start align-items-start mt-3">
        <div class="col-12 mx-0 px-0 col-lg-6 d-flex justify-content-center my-2 my-lg-0">
            <img class="logo-estadodos px-0 py-0 mr-lg-3" src="./assets/images/logoministerio.png" alt="logo de tuempresa">
        </div>
        <div class="col-12 mx-0 px-0 col-lg-6 d-flex justify-content-center my-2 my-lg-0">
            <img class="logo-estado px-0 py-0 ml-lg-3" src="./assets/images/logoperuprimero.png" alt="logo de tuempresa">
        </div>
    </div>

</footer>