@import "../../../../assets/scss/common";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/buttons/buttons";
.bg-ored {
    background-color: $our-red;
}

.container {
    width: 100%;
    height: auto;

    @include min-width-768{
        width: 850px;
        
        padding-left: 200px;
    }

    @include for-ie {
        width: 850px;
       
    }
}

img.img-fluid {
    width: 70%;
    margin-left: 2px;
    margin-right: 2px;
    
    @include min-width-768 {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}


p {
    font-weight: 400;
    font-size: 12px;
    font-weight: bold;
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    line-height: 1.25;
    letter-spacing: 0.4px;

    @include min-width-576{
        font-size: 20px;
    }

    @include min-width-768 {
        font-size: 25px;
    }
    @include min-width-1200 {
        font-size: 28px;
    }
}

.logo{
    width: 45%;
    
    @include min-width-768{
        width: 40%;
    }

    @include for-ie {
        width: 250px;
        height: 130px !important;
        
    }

}

.logo-estado {
    width: 150px;
    height: 30px;
    @include min-width-992 {
        width: 250px;
        height: 60px;
    }

  &dos{
    width: 150px;
    height: 30px;
    @include min-width-992 {
        width: 250px;
        height: 60px;
    }
    
  }  
}