@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.arrow {
    width: 26px;
    height: 26px;
 
    @include min-width-768 {
        width: 46px;
        height: 46px;
    }
    
}

.bg-oblue {
    background-color: $our-blue;
}

.borderleft{
    @include min-width-768{
        border-left: 2px solid $white;
    }
 &.th {
    border-top: 1px solid $white;
    @include min-width-768{
        border-top: 0px;
    }
 }
}

.chartdiv {
    height: 230px;
    @include min-width-576 {
        height: 320px;
    }
    @include min-width-768 {
        height: 400px;
    }
    @include min-width-992 {
        height: 500px;
    }
}


.col-lg-8{
    justify-content: center;

    @include min-width-768 {
        justify-content: start;
    }

    h1 {
        color: $black;
        margin: 0;
        padding: 0;
        font-family: "SolanoGothicMVBPro-Bd", sans-serif;
        line-height: 1.62;
        letter-spacing: 3.2px;
        font-weight: bold;
        font-size: 40px;
       
    }
}

.col-12 {
    justify-content: flex-start;

    @include min-width-768 {
        justify-content: space-around;
    }
}

div.centrado-dinamico{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid $black;

    @include min-width-768{
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    @include for-ie {
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    
    &2{
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;

        @include min-width-768{
            justify-content: start;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        @include for-ie {
            justify-content: flex-start;
            margin-top: 20px;
            margin-bottom: 20px;
    
        }
    }

    &3{
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;

        @include min-width-768{
            justify-content: space-around;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        @include for-ie {
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;
    
        }
    }
}



h2 {
    color: $white;
    margin-left: 20px;
    padding: 0;
    font-family: "SolanoGothicMVBPro-Bd", sans-serif;
    line-height: 0.97;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 37px;
 

    @include min-width-576 {
        border-bottom: 0px;
    }

    @include min-width-768 {
        font-size: 49px;
    }


}

h3 {
    color: $white;
    font-size: 14.2px;
    line-height: 1.2;
    font-weight: normal;
    &.lg {
        font-size: 24.9px;
    }
    & li {
        font-size: 14.2px;
    }
}

.table {
    border: 1px solid $white;    
    .th{
        border-bottom: 1px solid $white;
        color: $white;
        font-family: "SolanoGothicMVBPro-Bd", sans-serif;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 100;
    }

    .td {
        font-family: "Arial", sans-serif;
        color: $white;
        font-size: 17px;
    }
}

select{
    font-size: 18.2px;
    line-height: 1.2;
    color: $black;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid $black;
}

p {
    color: $white;
    
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    
    @include min-width-992 {
        font-size: 12px;
    }

    @include min-width-1200{
        font-size: 16px;
    }
}

.w-50{
    width: 100% !important;
    
    @include min-width-768{
        width: 50% !important;
    }
}

.w-75-alt{
    width: 75%;
    
    @include min-width-768{
        width: 100% ;
    }


    img{
        width: 52px;

        @include min-width-768{
            width: auto;
        }
    }
}



