<section class="container-fluid m-0 p-0 situacional-h">
    <div class="bg-black seccion-header d-flex flex-row align-items-center">
        <img class="h-75 d-none d-md-block" src="./assets/images/sedeicon.png" alt="logo facebook">
        <span class="text-uppercase text-white sede ml-3 p-0 my-0">Ubícanos</span>
    </div>
    <!--contenido de pagina-->
    <div class="row m-0 p-0 situacional-h-nav d-flex justify-content-center">

        <div class="col-lg-4 d-none d-lg-flex flex-column align-items-center justify-content-center">
            <p class="text-left text-dark pt-2 mb-0  px-2 px-xl-3 font-weight-bold">Encuentra el centro de desarrollo <br class="d-none d-xl-flex">                empresarial ( CDE ) más cercano a tí</p>
            <div class="chartdiv d-none d-lg-flex" id="chartdiv"></div>
        </div>

        <div class="col-lg-8 bg-oblue h-100 py-4 d-flex flex-wrap align-items-end justify-content-center">

            <div class="centrado-dinamico container-fluid mx-4 d-flex align-self-start pb-2">
                <h1 class="font-weight-bold d-none d-md-block">REGIONES</h1>
                <select (change)="select($event.target.value)">
                    <option selected disabled>{{ placeholder }}</option>
                    <option *ngFor="let city of availableCities" value="{{city.id}}">{{city.customName || city.name || placeholder }}</option>
                </select>
            </div>

            <ng-container *ngIf="selectedCity">

                <div class="centrado-dinamico2 container-fluid mx-5 my-3 px-2 d-flex align-self-start align-items-center">
                    <img class="arrow mr-3 my-0 py-0" src="./assets/images/Flechasedes.png" alt="flecha para sedes">
                    <h2 class="text-uppercase p-0 m-0" [innerHTML]="selectedCity.name"></h2>
                </div>

                <div class="container-fluid justify-content-center align-self-start m-0 p-0 w-75">
                    <div class="row m-0 p-0 table">
                        <div class="col-12 col-md-4 m-0 p-0">
                            <div class="container th d-flex justify-content-center "><span class="">Locación</span></div>
                            <div class="container d-flex justify-content-center "><p class="td "> CDE {{selectedCity.name | uppercase}}</p></div>
                        </div>
                        <div class="col-12 col-md-8 m-0 p-0">
                            <div class="container th d-flex justify-content-center borderleft"><span class="">Dirección</span></div>
                            <div class="container d-flex justify-content-center borderleft"><ul><li  *ngFor="let address of selectedCity.direccion" class="td"> {{address}}</li></ul></div>
                        </div>
                    </div>
                </div>
            </ng-container>
                         
            <div class="container-fluid mx-0 px-0 py-2 w-75-alt">
                <div class="d-flex flex-wrap mx-0 px-0 align-items-center my-3 my-md-o">
                    <div class="container col-12 col-md-6 w-50 d-flex align-items-center justify-content-start justify-content-md-center ">                   
                            <img class="h-75 mr-2 mr-lg-4" src="./assets/images/horarioicono.png" alt="logo de horario">                                   
                            <P>Correo: <br> tuempresa@produce.gob.pe</P>                    
                    </div>
                    <div class="container col-12 col-md-6 w-50 d-flex align-items-center justify-content-start justify-content-md-center borderleft">                   
                            <img class="h-50 mr-2 mr-lg-4" src="./assets/images/correoicono.png" alt="logo de correo ">
                            <P>Horario de Atención: <br>  9:00AM - 5:30PM</P>                  
                    </div>        
                </div>
            </div>
           

        </div>

    </div>
</section>